.places {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 282px));
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 820px) {
  .places {
    grid-template-columns: repeat(2, minmax(10%, 282px));
    margin: auto;
    width: fit-content;
  }
}

@media screen and (max-width: 540px) {
  .places {
    grid-template-columns: 282px;
  }
}
